---
layout: default
title: Home
---
{% include timeLine.html %}
<!--<h1>Hallo zur neuen index.html filebu</h1>-->

<ul class="bg_line">
{% for date in site.data.timeLine %}
<div class="container">
  <img src={{date.picture}} alt="timeline" style="width:90px" onerror="this.onerror=null; this.remove()">
  <p><span>{{date.date}}</span> </p>
  <p>{{ date.description }}</p>
</div>
{% endfor %}
</ul>

<!--<big>Von der Erschaffung Adams bis zum Auszug aus Ägypten</big>
<ul class="timeline">
    {% for date in site.data.timeLine %}
      <li class="timeline-blocks">
        <a>
          <div class = "dir-r">
            <h1>{{ date.date }}</h1>
            {{ date.description }}
          </div>
          <div class="timeline-picture">
            <img src={{date.picture}} alt="timeline" onerror="this.onerror=null; this.remove()" />
          </div>
        </a>
      </li>
    {% endfor %}
</ul>-->
